{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <h1>Sign In</h1>
    {{ wtf.quick_form(form) }}
    <p><a href="{{ url_for('register') }}">New User? Click to Register</a></p>
  </div>
</div>

<!--<p>
    {{ form.username.label }}<br>
    {{ form.username(size=32) }}
  </p>
  <p>
    {{ form.password.label }}<br>
    {{ form.password(size=32) }}
  </p>
  <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
  <p>{{ form.submit() }}</p>
  -->
  
{% endblock %}
